<form class="{{cssClass}}" flexcol autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile part" src="{{item.img}}" title="{{item.name}}"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "NECH.ItemName"}}"/>
      </h1>
    </div>
  </header>

  {{!-- Nav stuff --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item active" data-tab="details">{{localize "NECH.Details"}}</a>
    <a class="item" data-tab="modifiers">{{localize "NECH.ModifierPlural"}}</a>
  </nav>

  <div class="sheet-body">

    {{!-- Details --}}
    <div class="tab details" data-tab="details">
      <div class="form-group">
        <label>{{localize "NECH.Type"}}</label>
        <select name="data.type" {{#if disableType}}disabled{{/if}}>
          {{#select data.type}}
            {{#each partTypes as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select>

          <label>{{localize "NECH.Location"}}</label>
          <select name="data.location">
            {{#select data.location}}
              {{#each locations as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
      </div>

      <div class="form-group">
        <label>{{localize "NECH.Timing"}}</label>
        <select name="data.timing">
          {{#select data.timing}}
            {{#each timings as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="form-group">
        <label>{{localize "NECH.Cost"}}</label>
        <input name="data.cost" placeholder="{{localize "NECH.Cost"}}" value="{{data.cost}}" data-dtype="Number" type="number">

        <label>{{localize "NECH.Range"}}</label>
        <input name="data.range" placeholder="{{localize "NECH.Range"}}" value="{{data.range}}" data-dtype="String" type="text">
      </div>

      <div class="form-group">
        <label>{{localize "NECH.AttackType"}}</label>
        <select name="data.attack">
          {{#select data.attack}}
            <option value=""></option>
            {{#each attackTypes as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select>
        <label class="form-field">{{localize "NECH.Damage"}}</label>
        <input name="data.damage" type="number" data-dtype="Number" value="{{data.damage}}">
      </div>

      <div class="form-group">
        <label>{{localize "NECH.Threat"}}</label>
        <input name="data.threat" placeholder="{{localize "NECH.Threat"}}" value="{{data.threat}}" data-dtype="Number" type="number">
        <label>{{localize "NECH.APBonus"}}</label>
        <input name="data.apBonus" placeholder="{{localize "NECH.APBonus"}}" value="{{data.apBonus}}" data-dtype="Number" type="number">
      </div>

      {{!-- Special Qualities --}}
      <div class="form-group-stacked">
        <label>{{localize "NECH.Effects"}}</label>
        {{#each config.effectTypes as |effect id|}}
          <label class="checkbox">
            <input type="checkbox" name="data.effects.{{id}}" {{checked (lookup ../data.effects id)}}/> {{ localize effect }}
          </label>
        {{/each}}
      </div>

      <hr>

      <section class="effect-body">
        <h4>{{localize "NECH.Effect"}}</h4>
        <div class="effect-group flexcol" data-group="effect">
          {{nechRollEditor content=data.effect target="data.effect" button=true owner=owner editable=editable}}
        </div>
      </section>

      <hr>

      <section class="description-body">
        <h4>{{localize "NECH.Description"}}</h4>
        <div class="description-group flexcol" data-group="description">
          {{nechRollEditor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </section>
    </div>

    <div class="tab modifiers" data-tab="modifiers">
      <ol class="modifiers flexcol">
        {{#each data.modifiers as |modifier m|}}
          <li class="modifier flexrow" data-modifier="{{m}}">
              <input class="tag" type="text" name="data.modifiers.{{m}}.tag" value="{{tag}}" placeholder="{{../item.name}}">
              <input class="formula" type="text" name="data.modifiers.{{m}}.formula" value="{{formula}}" placeholder="{{localize "NECH.Formula"}}">
              <select class="optional" name="data.modifiers.{{m}}.optional">
                  {{#select optional}}
                    <option value="0" data-dtype="Boolean">{{localize "NECH.Modifiers.AlwaysOn"}}</option>
                    <option value="1" data-dtype="Boolean">{{localize "NECH.Modifiers.Optional"}}</option>
                  {{/select}}
              </select>
              <select class="target" name="data.modifiers.{{m}}.target">
                  {{#select target}}
                    {{#each ../modifierGlobals.targets as |target t|}}
                      <option value="{{t}}">{{localize target}}</option>
                    {{/each}}
                  {{/select}}
              </select>
              <select class="type" name="data.modifiers.{{m}}.type">
                  {{#select type}}
                    {{#each ../modifierGlobals.types as |type t|}}
                      <option value="{{t}}">{{localize type}}</option>
                    {{/each}}
                  {{/select}}
              </select>
              <a class="modifier-control delete"><i class="fas fa-trash"></i></a>
          </li>
        {{/each}}
        <li class="modifier flexrow"><a class="modifier-control add"><i class="fas fa-plus"></i> {{localize "NECH.Modifiers.Add"}}</a></li>
      </ol>
    </div>

</form>
