<form class="{{cssClass}}" flexcol autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "NECH.ItemName"}}"/>
      </h1>
    </div>
  </header>

  {{!-- Sheet content --}}

  <section class="description-body">
    <h4>{{localize "NECH.Description"}}</h4>
    <div class="description-group flexcol" data-group="description">
      {{nechRollEditor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
