<div class="nechronica token-tooltip">
  <span class="tooltip-header">
    {{#if (eq type "legion")}}{{localize "NECH.Remaining"}}: {{data.remaining}} | {{/if}}
    {{#if (ne type "doll")}}{{localize "NECH.Threat"}}: {{data.threat}}<br>{{/if}}
    {{localize "NECH.SpineCounter"}}: {{data.spineCounter.value}} | {{localize "NECH.AP"}}: {{data.ap.value}} / {{data.ap.max}} <br>
  </span>
</div>
