{{!-- AP Management --}}
{{> "systems/nechronica/templates/actors/parts/ap-form.hbs"}}

{{!-- BodyParts --}}

<section class="bodyParts-all body">
  <li class="location header">
    <div class="location header flexrow" data-location="all"> {{!-- @TODO: Fix this! --}}
      <div class="rollable" style="background-image: url(icons/dice/d10black.svg)"></div>
      <div class="location-header-details flexcol">
        <div class="flexrow">
          <h3 class="label">{{localize "NECH.BodyParts"}}</h3>
          <div class="header-controls">
            <a class="break-location"><i class="fas fa-user-slash"></i></a>
            <a class="use-location"><i class="fas fa-user-clock"></i></a>
          </div>
          <div class="item-controls">
            <a class="item-control item-add" title="{{localize "NECH.AddItem"}}" data-type="bodyPart"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        <div class="details flexrow">
          <div class="name">{{localize "NECH.Name"}}</div>
          <div class="broken"></div>
          <div class="timing">{{localize "NECH.Timing"}}</div>
          <div class="checkbox"></div>
          <div class="cost">{{localize "NECH.Cost"}}</div>
          <div class="range">{{localize "NECH.Range"}}</div>
          <div class="effect">{{localize "NECH.Effect"}}</div>
          <div class="item-controls"></div>
        </div>
      </div>
    </div>

    <ul class="bodyParts list item-list">
      {{#each actor.bodyParts as |part|}}
        <li class="bodyPart item details flexrow{{#if part.used}}used{{/if}}" data-item-id="{{part._id}}">
          <div class="item-actions flexrow">
            <a class="item-action check rollable" style="background-image: url({{part.img}})" title="{{part.name}}" width="24" height="24"></a>
            <a class="item-action attack"><i class="fas fa-fist-raised"></i></a>
            <a class="item-action chat"><i class="fas fa-comment"></i></a>
          </div>
          <div class="name"><h4>{{part.name}}</h4></div>
          <div class="broken checkbox">
            <input class="item-quick-edit" type="checkbox" data-target="data.broken" title="{{localize "NECH.Broken"}}" {{checked part.data.broken}}>
          </div>
          <div class="timing">{{localize (lookup ../config.timings part.data.timing)}}</div>
          <div class="checkbox">
            {{#if part.showUsed}}
              <div class="checkbox"><input class="item-quick-edit" type="checkbox" data-target="data.used" {{checked part.data.used}}></div>
            {{/if}}
          </div>
          <div class="cost">{{part.data.cost}}</div>
          <div class="range">{{part.data.range}}</div>
          <div class="effect">{{{part.data.effect}}}</div>

          {{#if ../isOwner}}
            <div class="item-controls">
              <a class="item-control item-edit" title="{{localize "NECH.EditItem"}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-duplicate" title="{{localize "NECH.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
              <a class="item-control item-delete" title="{{localize "NECH.DeleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
          {{/if}}

        </li>
      {{/each}}
    </ul>
  </li>
</section>
