<script lang="typescript">
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import { onMount, onDestroy, getContext } from "svelte";
  import type { Writable } from "svelte/store";

  //export let sheetData: NechronicaActorSheetData = {};
  let sheetData: Writable<NechronicaActorSheetData> = getContext("sheetStore");
  export let target: string = "";
  const TextEditor = globalThis.TextEditor;
  let editorContent;
  let width, height;
  let mce;
  let rawContent = getProperty($sheetData?.actorData, target) ?? "";
  let rollData = $sheetData.sheet?.object?.getRollData() ?? {};
  let content = TextEditor.enrichHTML(rawContent, { rollData, secrets: $sheetData.isOwner });

  //onMount(async () => {
  //  sheetData.sheet._activateEditor(editorContent);
  //});

  onDestroy(async () => {
    if (mce) mce.destroy();
  });

  const createEditor = () => {
    TextEditor.create(
      {
        target: editorContent,
        height: `${height < 400 ? 400 : height}px`,
        save_onsavecallback: (mce) => {
          const submit = $sheetData.sheet._onSubmit(new Event("mcesave"));
          mce.remove();
          submit.then(() => {
            mce.destroy();
          });
        },
      },
      rawContent
    ).then((m) => (mce = m));
  };

  $: {
    rawContent = getProperty($sheetData?.actorData, target);
    rollData = $sheetData.sheet?.object?.getRollData() ?? {};
    content = TextEditor.enrichHTML(rawContent, { rollData, secrets: $sheetData.isOwner });
  }
</script>

<div class="editor">
  <span />
  <div
    class="editor-content"
    data-edit={target}
    bind:this={editorContent}
    bind:clientHeight={height}
  >
    {@html content}
  </div>
  {#if $sheetData.editable}
    <a class="editor-edit" on:click|preventDefault={createEditor}>
      <i class="fas fa-edit" />
    </a>
  {/if}
</div>

<style>
  .editor {
    display: grid;
    grid-template-rows: 1px 1fr;
  }
  .editor-content {
    min-height: 100px;
  }
</style>
