<script lang="typescript">
  import { getContext } from "svelte";
  import { localize } from "../module/lib/utils";
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import type NechronicaActorSheetV2 from "../module/actor/actor-sheet-v2";
  import type { NechronicaBodyPartData } from "../module/item/item-data";
  import NechronicaItem from "../module/item/item-nech";
  import NechronicaItemControls from "./NechronicaItemControls.svelte";

  const TextEditor = globalThis.TextEditor;
  let sheet: NechronicaActorSheetV2;
  let sheetData: NechronicaActorSheetData;
  const sheetStore = getContext("sheetStore");
  const sheetSub = sheetStore.subscribe((v) => {
    sheetData = v;
    sheet = v.sheet;
  });

  const itemAction = sheet._onItemAction.bind(sheet);

  export let part: NechronicaItem = null;
  let data: Duplicated<NechronicaBodyPartData> = duplicate(part.data);

  const breakPart = () => {
    if (data.type === "bodyPart") part.update({ "data.broken": !data.data.broken });
  };

  const usePart = () => {
    if (!part.isRepeatable) part.update({ "data.used": !data.data.used });
  };

  // DragDrop handling
  const dragDrop = sheet._dragDrop.find((d) => d.dragSelector === ".item-list .item");
  const onDragStart = dragDrop?._handleDragStart.bind(dragDrop);

  let altBroken, altUsed, actorType;

  $: {
    part = part;
    data = duplicate(part.data);
    altBroken = localize(data.data.broken ? "Broken" : "Intact");
    altUsed = localize(data.data.used ? "Used" : "Usable");
    actorType = sheetData.actorData.type;
  }
</script>

<li class="location-grid item" data-item-id={part.id} draggable="true" on:dragstart={onDragStart}>
  <div class="part-actions">
    <a class="check" title={part.name} on:click={itemAction}>
      <img class="img-main" src={part.data.img} alt="Part Icon" />
      <img class="img-hover" src="../../../icons/dice/d10black.svg" alt="Dice Icon" />
    </a>
    <a
      class="attack"
      on:click={itemAction}
      class:faded={data.data.timing === "action" && data.data.attack === ""}
    >
      <i class="fas fa-fist-raised" />
    </a>
    <a class="chat" on:click={itemAction}> <i class="fas fa-comment" /> </a>
  </div>
  <strong on:click={itemAction} on:contextmenu={sheet._onItemEdit(part.id)} class="name">
    {part.name}
  </strong>
  <span class="part-state">
    <span class="break" class:faded={!data.data.broken} on:click={breakPart}>
      {#if data.data.type === "bodyPart" || actorType !== "doll"}
        <img
          src="/systems/nechronica/icons/amputation.svg"
          width="26"
          height="26"
          alt={altBroken}
          title={altBroken}
        />
      {/if}
    </span>
    <span class="use" class:faded={!data.data.used} on:click={usePart}>
      {#if !part.isRepeatable}
        <img
          src="/systems/nechronica/icons/battery-pack-alt.svg"
          width="26"
          height="26"
          alt={altUsed}
          title={altUsed}
        />
      {/if}
    </span>
  </span>
  <span class="timing">{localize(`Timings.${data.data.timing.capitalize()}`)}</span>
  <span class="cost">{data.data.cost}</span>
  <span class="range">{data.data.range}</span>
  <div class="description">{@html part.getEffectData()}</div>
  <NechronicaItemControls
    item={part}
    type="bodyPart"
    subType={data.data.type}
    location={data.data.location}
    visible={true}
  />
</li>

<style>
  .item {
    line-height: 26px;
  }
  .part-actions {
    display: flex;
    flex: 0 0 56px;
    line-height: 26px;
    justify-content: space-evenly;
    height: 26px;
  }
  img {
    width: 24px;
    height: 24px;
    border: 0;
  }
  img.img-hover {
    top: -30px;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
    position: relative;
  }
  .check {
    width: 26px;
  }
  .check:hover img.img-hover {
    opacity: 1;
  }
  .check:hover .img-main {
    opacity: 0;
  }
  .name:hover {
    text-shadow: 0 0 8px red;
  }
  :global(.nechronica .parts .description > p) {
    margin: 0;
  }
  .part-state {
    height: 26px;
  }
  .part-state img {
    filter: hue-rotate(13deg) invert(100%);
  }
  .part-state img:hover {
    filter: hue-rotate(13deg) invert(100%) drop-shadow(0 0 6px red);
  }
  .part-state .faded img {
    filter: hue-rotate(13deg) invert(50%);
  }
  .part-state .faded img:hover {
    filter: hue-rotate(13deg) invert(50%) drop-shadow(0 0 6px red);
  }
  .cost,
  .range {
    text-align: center;
  }
</style>
