<script lang="typescript">
  // General imports
  import NechronicaActorSheetV2 from "../module/actor/actor-sheet-v2";
  import { slide } from "svelte/transition";
  import { localize } from "../module/lib/utils";
  import { setContext } from "svelte";
  import { writable } from "svelte/store";
  import type { Writable } from "svelte/store";

  // Component imports
  import NechronicaActorHeader from "./NechronicaActorHeader.svelte";
  import NechronicaNPCContent from "./NechronicaNPCContent.svelte";
  import NechronicaDollContent from "./NechronicaDollContent.svelte";
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";

  export let dataStore: Writable<NechronicaActorSheetData>;
  setContext("sheetStore", dataStore);
</script>

<div class="nechronica actor-sheet-v2">
  <NechronicaActorHeader />

  {#if $dataStore.actorData.type === "doll"}
    <NechronicaDollContent />
  {:else}
    <NechronicaNPCContent />
  {/if}
</div>

<style>
  .actor-sheet-v2 {
    height: 100%;
  }
</style>
