<script lang="typescript">
  import type { NechronicaActorSheetData } from "../module/actor/actor-prepared-data";
  import NechronicaItem from "../module/item/item-nech";
  import { RollType } from "../module/config";
  import { getString } from "../module/lib/utils";
  import NechronicaItemControls from "./NechronicaItemControls.svelte";
  import { getContext } from "svelte";

  let sheetData: NechronicaActorSheetData;
  const sheetStore = getContext("sheetStore");
  const sheetSub = sheetStore.subscribe((v) => (sheetData = v));
  export let classItem: NechronicaItem = null;
  export let type = "class";

  // DragDrop handling
  const dragDrop = $sheetStore.sheet._dragDrop.find((d) => d.dragSelector === ".item-list .item");
  const onDragStart = dragDrop?._handleDragStart.bind(dragDrop);
</script>

<div
  class="attributes item"
  data-item-id={classItem?.id}
  draggable={classItem != null}
  on:dragstart={classItem != null ? onDragStart : null}
>
  <span class="flexrow">
    <strong
      on:contextmenu|preventDefault={sheetData.sheet._onItemEdit(classItem?.id)}
      on:click|preventDefault={classItem !== null
        ? classItem?.roll({ rollType: RollType.MESSAGE })
        : null}
    >
      {#if classItem !== null}
        {classItem.name}
      {/if}
    </strong>
    <NechronicaItemControls item={classItem} {type} />
  </span>
  {#each Object.keys(sheetData.config.attributes) as attribute}
    <span class="attribute">
      {getString(classItem, `data.data.${attribute}`)}
    </span>
  {/each}
</div>

<style>
  .attributes {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(35px, 50px));
    line-height: 26px;
  }
  .attribute {
    justify-self: center;
  }
  strong:hover {
    cursor: pointer;
    text-shadow: 0 0 8px red;
  }
  .item {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 5px;
    margin: 2px 0px 2px 0;
  }
  .item:hover {
    background: rgba(0, 0, 0, 0.1);
  }
</style>
